<div id="myGroup">
  <div class="row">
    <div class="col-6 text-center bg-dark">
      <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-parent="#myGroup">
        <%= fa_icon "plus-circle", class: "fa-5x" %>
      </a>
    </div>

    <div class="col-6 text-center bg-info">
      <a data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2" data-parent="#myGroup">
        <%= fa_icon "search", class: "fa-5x" %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 collapse bg-dark" id="collapseExample">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "child", class: "fa-2x" %>
          <%= link_to "New Baptism", new_baptism_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "glass", class: "fa-2x" %>
          <%= link_to "New First Communion" %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "graduation-cap", class: "fa-2x" %>
          <%= link_to "New Confirmation" %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "venus-mars", class: "fa-2x" %>
          <%= link_to "New Marriage" %>
        </div>
      </div>
    </div>

    <div class="col-12 collapse bg-info" id="collapseExample2">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "child", class: "fa-2x" %>
          <%= link_to "Find Baptism", church_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "glass", class: "fa-2x" %>
          <%= link_to "Find First Communion" %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "graduation-cap", class: "fa-2x" %>
          <%= link_to "Find Confirmation" %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "venus-mars", class: "fa-2x" %>
          <%= link_to "Find Marriage" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-center bg-success">
      <a data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3" data-parent="#myGroup">
        <%= fa_icon "cog", class: "fa-5x" %>
      </a>
    </div>

    <div class="col-6 text-center bg-warning">
      <a data-toggle="collapse" href="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4" data-parent="#myGroup">
        <%= fa_icon "question-circle", class: "fa-5x" %>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 collapse bg-success" id="collapseExample3">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "child", class: "fa-2x" %>
          <%= link_to "Find Baptism", church_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "glass", class: "fa-2x" %>
          <%= link_to "Find First Communion" %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "graduation-cap", class: "fa-2x" %>
          <%= link_to "Find Confirmation" %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "venus-mars", class: "fa-2x" %>
          <%= link_to "Find Marriage" %>
        </div>
      </div>
    </div>

    <div class="col-12 collapse bg-warning" id="collapseExample4">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "child", class: "fa-2x" %>
          <%= link_to "Read the Docs", church_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= fa_icon "glass", class: "fa-2x" %>
          <%= link_to "Open Ticket" %>
        </div>
      </div>
    </div>
  </div>
</div>
