<div id="myGroup">
  <div class="row">
    <div class="col-6 text-center bg-dark">
      <%= link_to fa_icon('plus-circle 5x', class: 'collapse-button'), nil, data: { toggle: 'collapse', target: '#collapseExample', parent: '#myGroup' } %>
    </div>

    <div class="col-6 text-center bg-info">
      <%= link_to fa_icon('search 5x', class: 'collapse-button'), nil, data: { toggle: 'collapse', target: '#collapseExample2', parent: '#myGroup' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 collapse bg-dark" id="collapseExample">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('child 2x', text: 'New Baptism'), new_baptism_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('glass 2x', text: 'New First Communion') %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('graduation-cap 2x', text: 'New Confirmation') %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('venus-mars 2x', text: 'New Marriage') %>
        </div>
      </div>
    </div>

    <div class="col-12 collapse bg-info" id="collapseExample2">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('child 2x', text: 'Find Baptism'), baptisms_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('glass 2x', text: 'Find 1st Communion') %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('graduation-cap 2x', text: 'Find Confirmation') %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('venus-mars 2x', text: 'Find Marriage') %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6 text-center bg-success">
      <%= link_to fa_icon('cog 5x', class: 'collapse-button'), nil, data: { toggle: 'collapse', target: '#collapseExample3', parent: '#myGroup' } %>
    </div>

    <div class="col-6 text-center bg-warning">
      <%= link_to fa_icon('question-circle 5x', class: 'collapse-button'), nil, data: { toggle: 'collapse', target: '#collapseExample4', parent: '#myGroup' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 collapse bg-success" id="collapseExample3">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('child 2x', text: 'Profile'), church_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('child 2x', text: 'Settings'), church_path %>
        </div>
      </div>
    </div>

    <div class="col-12 collapse bg-warning" id="collapseExample4">
      <div class="row">
        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('child 2x', text: 'Read the Docs'), church_path %>
        </div>

        <div class="col-6 text-center landing-link-container">
          <%= link_to fa_icon('glass 2x', text: 'Read the Docs'), church_path %>
        </div>
      </div>
    </div>
  </div>
</div>
