<%= form_with model: @priest do |form| %>

<div class="modal-header">
  <h5 class="modal-title" id="modal-label">Edit Priest</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row mt-3">
    <div class="form-group col-4">
      <%= form.label :first_name, class: 'form-control-label' %>
      <%= form.text_field :first_name, class: 'form-control' %>
    </diV>

    <div class="form-group col-4">
      <%= form.label :last_name, class: 'form-control-label' %>
      <%= form.text_field :last_name, class: 'form-control' %>
    </diV>

    <div class="form-group col-4">
      <%= form.label :display_name, class: 'form-control-label' %>
      <%= form.text_field :display_name, class: 'form-control' %>
    </div>
  </div>

</div>

<div class="modal-footer">
  <%= form.button class: 'btn btn-secondary' %>
</div>

<% end %>
