<%= form_with model: Person.new, url: people_person_form_by_nin_path do |form| %>
<%= hidden_field_tag 'selector', selector %>
<%= hidden_field_tag 'related_selector', related_selector %>
<div class="form-group">
  <%= form.label :nin, class: 'form-control-label' %>
  <div class="input-group">
    <%= form.text_field :nin, class: 'form-control national-identification-number' %>
    <div class="input-group-append">
      <%= form.button 'Next', type: 'submit', class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
<% end %>
