<div class="card side-fields d-none" id="<%= type %>-fields">
  <div class="card-header">
    <h3>New <%= type.capitalize %></h3>
  </div>

  <div class="card-body">
    <div class="form-group">
      <%= form.label :first_name, class: 'form-control-label' %>
      <%= form.text_field :first_name, class: 'form-control', id: "#{type}-first-name" %>
    </div>

    <div class="form-group">
      <%= form.label :last_name, class: 'form-control-label' %>
      <%= form.text_field :last_name, class: 'form-control', id: "#{type}-last-name" %>
    </div>

    <div class="form-group">
      <%= form.button 'Ok', type: :button, class: 'btn btn-secondary btn-block', data: { command: 'set', target: "##{type}" } %>
    </div>
  </div>
</div>
