<div class="card-body">
  <h3 class="card-title">Contacts</h3>

  <table class="table">
    <thead>
      <th><input type="checkbox" class="select-all"></th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </thead>
    <tbody>
      <% @church.contacts.each do |contact| %>
        <tr>
          <td><input type="checkbox" class="selected-contact" id="<%= contact.id %>" /></td>
          <td><%= contact.full_name %></td>
          <td><%= contact.main_email.address %></td>
          <td><%= contact.main_phone.display_number %></td>
          <td><%= fa_icon 'eye', data: { toggle: 'modal', target: '#modal-contact', id: contact.id } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="modal-contact-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-contact-label">Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
