<div class="card-body">
  <h3 class="card-title">General Info</h3>

  <div class="row">
    <div class="col-8">
      <div class="form-group">
        <%= form.label :name, class: 'form-control-label' %>
        <%= form.text_field :name, class: 'form-control', id: :church_name %>
      </div>
    </div>

    <div class="col-4">
      <div class="form-group">
        <%= form.label :manager, class: 'form-control-label' %>
        <%= form.text_field :manager, class: 'form-control', id: :church_manager %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <%= form.label :street_name, class: 'form-control-label' %>
        <%= form.text_field :street_name, class: 'form-control', id: :church_street_name %>
      </div>
    </div>

    <div class="col-2">
      <div class="form-group">
        <%= form.label :street_number, class: 'form-control-label' %>
        <%= form.text_field :street_number, class: 'form-control', id: :church_street_number %>
      </div>
    </div>

    <div class="col-2">
      <div class="form-group">
        <%= form.label :region, class: 'form-control-label' %>
        <%= form.collection_select :region_id, Region.all, :id, :name, {}, { class: 'form-control', id: :church_region } %>
      </div>
    </div>

    <div class="col-2">
      <div class="form-group">
        <%= form.label :province, class: 'form-control-label' %>
        <%= form.collection_select :province_id, Province.where(region: @church.region), :id, :name, {}, { class: 'form-control', id: :church_province } %>
      </div>
    </div>

    <div class="col-2">
      <div class="form-group">
        <%= form.label :commune, class: 'form-control-label' %>
        <%= form.collection_select :commune_id, Commune.where(province: @church.province), :id, :name, {}, { class: 'form-control', id: :church_commune } %>
      </div>
    </div>
  </div>
</div>
