<div class="card-body">
  <h3 class="card-title">Priests</h3>

  <table class="table">
    <thead>
      <th><input type="checkbox" class="select-all"></th>
      <th>Full Name</th>
      <th>Display Name</th>
      <th>Period Begin</th>
      <th>Status</th>
      <th></th>
    </thead>
    <tbody>
      <% @church.last_priesthoods.each do |priesthood| %>
        <tr>
          <td><input type="checkbox" class="selected-priesthood" id="<%= priesthood.id %>" /></td>
          <td><%= priesthood.priest.full_name %></td>
          <td><%= priesthood.priest.display_name %></td>
          <td><%= priesthood.period_begin.to_date %></td>
          <td><%= priesthood.active? ? 'Active' : 'Inactive' %></td>
          <td><%= fa_icon 'eye', data: { toggle: 'modal', target: '.modal.priest-details', id: priesthood.id } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal fade priest-details" tabindex="-1" role="dialog" aria-labelledby="modal-priest-label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-priest-label">Priest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
