<div class="card-body">
  <div class="form-group">
    <%= form_with model: @priest do |form| %>

    <div class="input-group">
      <%= form.text_field :first_name, class: 'form-control form-control', placeholder: t(:first_name) %>
      <%= form.text_field :last_name, class: 'form-control form-control', placeholder: t(:last_name) %>
      <%= form.text_field :display_name, class: 'form-control form-control', placeholder: t(:display_name) %>
      <div class="input-group-append">
        <%= form.button class: 'btn btn-secondary' %>
      </div>
    </div>
    <% end %>
  </div>

  <table class="table" id="priests">
    <thead>
      <th></th>
      <th>#</th>
      <th><input type="checkbox" class="select-all"></th>
      <th><%= t(:full_name) %></th>
      <th><%= t(:display_name) %></th>
      <th><%= t(:active) %></th>
      <th></th>
    </thead>
    <tbody>
      <%= render partial: 'priests/priest_row', collection: @priests %>
    </tbody>
  </table>
</div>

<%= render partial: 'layouts/modal', locals: { title: 'Update Priest' } %>
