<%= form_with model: @church do |form| %>
  <div class="card">
    <div class="card-header">
      <h2>My Church Info</h2>
    </div>

    <%= render 'general_info', form: form %>

    <%= render 'contacts', form: form %>

    <%= render 'priests', form: form %>

    <div class="card-footer">
      <%= form.submit 'Save Church', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
