<%= form_with model: @contact do |contact| %>
<h4>Personal Information</h4>

<div class="form-group">
  <%= contact.label :full_name, class: 'form-control-label' %>
  <%= contact.text_field :full_name, class: 'form-control', id: 'contact_full_name' %>
</diV>
<% end %>

<h4>Emails</h4>

<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" class="select-all" /></th>
      <th>Id</td>
      <th>Address</th>
      <th>Verified</th>
      <th>Main</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contact.emails.each do |email| %>
    <tr>
      <td><input type="checkbox" value="<%= email.id %>" /></td>
      <td><%= email.id %></td>
      <td><%= email.address %></td>
      <td><input type="checkbox" <%= email.is_verified ? 'checked' : '' %> /></td>
      <td><input type="radio" name="main_contact" <%= @contact.main_email.id == email.id ? 'checked' : '' %> /></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h4>Phones</h4>

<table class="table">
  <thead>
    <tr>
      <th><input type="checkbox" class="select-all" /></th>
      <th>Id</th>
      <th>Display Number</th>
      <th>Main</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contact.phones.each do |phone| %>
    <tr>
      <td><input type="checkbox" value="<%= phone.id %>" /></td>
      <td><%= phone.id %></td>
      <td><%= phone.display_number %></td>
      <td><input type="radio" name="main_phone" <%= @contact.main_phone.id == phone.id ? 'checked' : '' %> /></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
