<div class="form-group">
  <%= form.label :priest, class: 'form-control-label' %>
  <%= form.collection_select :priest_id, Priest.all, :id, :full_name, {}, { class: 'form-control' } %>
</div>

<div class="form-group">
  <%= form.label :date, class: 'form-control-label' %>
  <%= form.date_field :date, class: 'form-control' %>
</div>

<% ['baptised', 'mother', 'father'].each do |entity| %>
<div class="form-group">
  <label for="btn-<%= entity %>" class="form-control-label"><%= entity.titleize %></label>
  <div class="input-group">
    <label for="btn-<%= entity %>" id="baptism_<%= entity %>" class="form-control"></label>
    <div class="input-group-append">
      <button id="btn-<%= entity %>"
              type="button"
              class="btn btn-secondary"
              data-command="toggle"
              data-toggle="form"
              data-target="#baptism_<%= entity %>_fields">Edit</button>
    </div>
  </div>
</div>
<% end %>

<div class="form-group">
  <%= form.button class: 'btn btn-primary btn-block' %>
</div>
