<%= content_for :title, t(:baptisms) %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Baptised</th>
      <th>NIN</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @baptisms.each_with_index do |baptism, i| %>
    <tr>
      <td><%= (i + 1) %></td>
      <td><%= baptism.baptised.name_for_display %></td>
      <td><%= baptism.baptised.nin_for_display %></td>
      <td><%= baptism.date %></td>
      <td>
        <%= link_to fa_icon('eye 2x'), baptism, class: 'action' %>
        <%= link_to fa_icon('edit 2x'), edit_baptism_path(baptism), class: 'action' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
