<div class="card">
  <div class="card-header">
    <h2>New Baptism</h2>
  </div>

  <div class="card-body">
    <%= form_with model: @baptism do |form| %>
    <div class="row">
      <div class="col">
        <%= render partial: 'baptism', locals: { form: form } %>
      </div>

      <div class="col mt-auto">
        <%= render partial: 'people/person', locals: { f: form, person: @baptised } %>
        <%= render partial: 'people/person', locals: { f: form, person: @mother } %>
        <%= render partial: 'people/person', locals: { f: form, person: @father } %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="card-footer">
    ChurchManager @2018 - Developed by <a href="//bitbox.cl">BitBox.cl</a>
  </div>
</div>
