<div class="card">
  <div class="card-body">
    <%= form_with model: @baptism do |form| %>
    <div class="form-group">
      <%= form.label :date %>
      <%= form.text_field :date_for_display, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :priest %>
      <%= form.text_field :priest_name_for_display, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :baptised %>
      <%= form.text_field :baptised_name_for_display, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :mother %>
      <%= form.text_field :mother_name_for_display, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :father %>
      <%= form.text_field :father_name_for_display, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :godmother %>
      <%= form.text_field :godmother_name_for_display, class: 'form-control', readonly: true %>
    </div>

    <div class="form-group">
      <%= form.label :godfather %>
      <%= form.text_field :godfather_name_for_display, class: 'form-control', readonly: true %>
    </div>
    <% end %>
  </div>
</div>
