<!DOCTYPE html>
<html>
  <head>
    <title>ChurchManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller.controller_path %>" data-action="<%= controller.action_name %>">
    <div class="container">
      <%= render 'layouts/navbar' %>

      <div class="card">
        <div class="card-header">
          <h2 class="card-title"><%= yield(:title) %></h2>
        </div>
        <div class="card-body">
          <%= yield %>
        </div>
        <div class="card-footer">
          ChurchManager @2018 - Developed by <a href="//bitbox.cl">BitBox.cl</a>
        </div>
      </div>
    </div>
  </body>
</html>
